.container {
width: 45%;
}

.entryLists h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.date {
  margin-top: 30px;
}
.dailyLists li {
  border-bottom: 1px solid #ccc;
  text-align: center;
  list-style: none;
}
.list-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
