nav {
  width: 100%;
  background-color: rgb(225, 166, 166);
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
nav a:hover {
  color: rgb(167, 223, 82);
}
